{% if kresd_prometheus_endpoint | bool %}
modules.load('http')
http.config({ tls = false })
net.listen('127.0.0.1', 8453, { kind = 'webmgmt', freebind = true })
net.listen('::1', 8453, { kind = 'webmgmt', freebind = true })
http.prometheus.namespace = '{{ kresd_prometheus_namespace }}'
{% endif %}
