{% raw %}
policy.add(policy.all(policy.TLS_FORWARD({
{% endraw %}
{% for item in kresd_tls_forward %}
{% if kresd_ipv6 and item.address | ansible.utils.ipv6 %}
{{ '{ \'' + item.address + '\', hostname=\'' + item.hostname + '\' },' }}
{% endif %}
{% endfor %}
{% for item in kresd_tls_forward %}
{% if kresd_ipv4 and item.address | ansible.utils.ipv4 %}
{{ '{ \'' + item.address + '\', hostname=\'' + item.hostname + '\' },' }}
{% endif %}
{% endfor %}
{% raw %}
})))
{% endraw %}
