-- -- vim:syntax=lua:set ts=4 sw=4:
-- -- Refer to manual: https://knot-resolver.readthedocs.org/en/stable/
-- 
-- -- Network interface configuration
-- 
-- user('knot-resolver', 'knot-resolver')
-- -- unprivileged
-- 
-- cache.size = 100 * MB
-- 
-- -- net.listen(net.lo, 53)
-- -- net.listen(net.eth0, 853, { kind = 'tls' })
-- 
-- modules = {
--   'policy',
--   'view',
--   'hints',
--   'serve_stale < cache',
--   'workarounds < iterate',
--   'stats'
-- }

policy.add(policy.all(policy.TLS_FORWARD({
         { '1.1.1.1', hostname='cloudflare-dns.com', ca_file='/etc/ssl/certs/ca-bundle.crt' },
         { '2606:4700:4700::1111', hostname='cloudflare-dns.com', ca_file='/etc/ssl/certs/ca-bundle.crt' },
})))


-- policy.add(policy.slice(
--     policy.slice_randomize_psl(),
--     policy.TLS_FORWARD({{'192.0.2.1', hostname='res.example.com'}}),
--     policy.TLS_FORWARD({
--         -- multiple servers can be specified for a single slice
--         -- the one with lowest round-trip time will be used
--         {'193.17.47.1', hostname='odvr.nic.cz'},
--         {'185.43.135.1', hostname='odvr.nic.cz'},
--     })
-- ))

view:addr('127.0.0.1', policy.all(policy.PASS))
view:addr('::1', policy.all(policy.PASS))
view:addr('0.0.0.0/0', policy.all(policy.DROP))
