[Unit]
Description=Knot Resolver daemon
Documentation=man:kresd.systemd(7)
Documentation=man:kresd(8)
After=kresd-metadata.service
After=network-online.target
Before=kres-cache-gc.service
Wants=kres-cache-gc.service
Wants=kresd-metadata.service
Wants=network-online.target

[Service]
Type=notify
Environment="SYSTEMD_INSTANCE=%i"
EnvironmentFile=/etc/knot-resolver/environment
WorkingDirectory=/var/lib/knot-resolver
ExecStart=/usr/sbin/kresd -c /usr/lib64/knot-resolver/distro-preconfig.lua -c /etc/knot-resolver/kresd.conf -n
User=knot-resolver
Group=knot-resolver
CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETPCAP
AmbientCapabilities=CAP_NET_BIND_SERVICE CAP_SETPCAP
TimeoutStopSec=10s
WatchdogSec=10s
Restart=on-abnormal
LimitNOFILE=524288

[Install]
WantedBy=kresd.target
