{% raw %}
-- Load configuration from kresd.conf.d/ directory

local lfs = require('lfs')
local conf_dir = '/etc/knot-resolver/kresd.conf.d'

function coalesce(a, b)
    if a ~= nil and a ~= '' and a ~= false then
        return a
    elseif b ~= nil and b ~= '' and b ~= false then
        return b
    else
      return false
    end
end

function filter_strings(t)
    local res = {}
    for i, v in ipairs(t) do
        if type(v) == 'string' then
            table.insert(res, v)
        end
    end
    return res
end

if lfs.attributes(conf_dir) ~= nil then
	local conf_files = {}
	for entry in lfs.dir(conf_dir) do
		if entry:sub(-5) == '.conf' then
			table.insert(conf_files, entry)
		end
	end
	table.sort(conf_files)
	for i = 1, #conf_files do
		dofile(conf_dir .. '/' .. conf_files[i])
	end
end
{% endraw %}
