[Unit]
Description=Setup knot-resolver environment
Requires=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/sbin/kresd-metadata
User=knot-resolver
Group=knot-resolver
RemainAfterExit=yes
Type=oneshot

[Install]
WantedBy=kresd.target
